{{> menu hideLinks=true}}

<section class="row text-center">
  <h2 class="text-primary">
    <i class="fa fa-question-circle"></i>
    Page Not Found
  </h2>
  <p class="mt-3"><a href="/"><i class="fa fa-arrow-left"></i> Return to Homepage</a></p>
</section>
