{{> menu id="editdetails" isAuthUser=true}}

<!-- Main Heading -->
<section class="row mb-5">
  <h2 class="text-center">
    <i class="fa fa-cog"></i>
    Settings
  </h2>
</section>
{{#if error}}
  {{> displayerror error=error }}
{{/if}}
<!-- Edit Details Form -->
{{> accountdetailsform postUrl=postUrl user=user }}